.gif_list {
  width: 90%;
  height: 100%;
  // max-width: 1025px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  // @media screen and (max-width: 768px) {
  //   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  // }
}
