// colors
$gray01: #f1f1f1;
$gray0: #ececec;
$gray1: #c6c6c6;
$gray2: #575757;
$gray3: #4b4b4b;
$gray4: #2e2e2e;
$gray5: #121212;
$primary: #017a59;
$secondary: #ececec6e;
$destructive: #fc684e;
$sunny: #ffbb52;

// breakpoints
$mobile: 500px;
$tablet: 768px;
$desktop: 1024px;
$widescreen: 1200px;
$xwidescreen: 1400px;
$category: 49.65px;
