@import 'var', 'module';

.positioner {
  position: absolute;
  bottom: 144px;
  z-index: 4;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;

  @include mobile {
    left: 26px;
    bottom: 99px;
    transform: none;
  }

  @include tablet {
    bottom: 26px;
    width: 530px;
  }
}

.block {
  background: white;
  box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
  border-radius: 12px;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 30px;
}

.iconWrapper svg {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: $gray5;
    font-weight: 600;
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;

  li {
    color: $gray4;

    span {
      color: $primary;
      font-weight: 500;
    }
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeIcon svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkbox {
  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $gray4;
    font-size: 14px;
    gap: 4px;

    input {
      cursor: pointer;
    }
  }
}

.checkInput {
  width: 17px;
  height: 17px;
}
