@import 'module';

.block {
  padding: 16px;

  @include tablet {
    padding: 16px 0;
  }
}

.comment_title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
}

.list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
