@import "_var";

.footer {
  position: fixed;
  bottom: 0;
  height: 48px;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  padding: 0;
  padding-left: 16px;
  font-size: 16px;
  color: $gray5;
  &::placeholder {
    color: $gray1;
  }
}

.transparent_button {
  min-width: 60px;
  height: 100%;
  color: $primary;
  font-size: 16px;
  font-weight: 600;
  padding-left: 16px;
  padding-right: 16px;
}
