@import "_var", "_module";

.block {
  min-height: 64px;
  border-bottom: 1px solid $gray0;
  display: none;

  @include mobile {
    display: flex;
    flex-direction: column;
  }

  // @include widescreen {
  //   padding: 0;
  // }

  // width: 100%;
  // max-width: 1150px;
  // margin-right: auto;
  // margin-left: auto;

  .block_top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px;
    // padding: 0;
  }

  .block_bottom {
    width: 100%;
  }
}

.home_link {
  display: block;
  color: inherit;
}

.styled_logo {
  display: block;
  height: 17px;
  width: auto;
}

.content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 26px;

  @include widescreen {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 16px;
  }
}

.addon {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 8px;
}
