@import 'var';

.group {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  padding-bottom: 16px;
}

// .message {
//   margin-top: 8px;
//   font-size: 14px;
//   color: red;
//   text-align: center;
// }

.title {
  width: 100%;
  resize: none;
  appearance: none;
  overflow: hidden;
  background: transparent;
  font-size: 32px;
  font-weight: bold;
  border: none;
  outline: none;
  height: 54px;
  color: $gray5;
}
