@import 'var', 'module';

.block {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray2;
  white-space: pre-wrap;
  line-height: 1.5;
  text-align: center;
  flex: 1;
  flex-direction: column;
  gap: 38px;

  span {
    font-weight: 500;
    font-size: 21px;
  }

  @include mobile {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}
