@import 'var';

.block {
  position: absolute;
  top: -120px;
  left: 0;

  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.menu_item {
  border-radius: 100px;
  background: white;
  box-shadow: 0 2px 6px rgb(0 0 0 / 15%);

  a,
  button {
    cursor: pointer;
    display: block;
    padding: 16px;
  }

  svg {
    display: block;
    color: $gray4;
  }

  &:hover {
    background-color: white;

    svg {
      color: $primary;
    }
  }

  &.dark_mode {
    background-color: rgb(41 42 45);

    svg {
      color: rgb(221 227 243);
    }

    &:hover {
      background-color: white;

      svg {
        color: $primary;
      }
    }
  }
}
