@import "_var", "_module";

.container {
  // position: fixed;
  // right: 16px;
  // bottom: 72px;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  padding: 13px 15px;
  border-radius: 100px;
  font-size: 12px;
  cursor: pointer;
  color: $gray4;

  &.dark_mode {
    background-color: rgb(41, 42, 45);
    color: rgb(221, 227, 243);

    &:hover {
      background-color: white;
      color: $gray4;
    }
  }

  &:hover {
    background-color: rgb(41, 42, 45);

    color: rgb(221, 227, 243);
  }
}
