* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  margin: 0;
}

// body {
//   font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
//     "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
//     "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
//     sans-serif;
//   margin: 0;
// }

button,
input {
  font-family: inherit;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.theme {
  transition: 0.2s all ease;
}

.light {
  background: white;
  color: black;
}

.dark {
  background-color: rgb(30, 31, 33);
  color: white;

  header,
  footer {
    background-color: rgb(41, 42, 45);
    border: 1px solid rgb(58, 59, 61);
  }
}
