@import "_module";

.list {
  // display: flex;
  // flex-direction: column;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include widescreen {
    grid-template-columns: repeat(3, 1fr);
  }
  gap: 32px;
  row-gap: 43px;
}
