@import "_var", "_module";

.styled_link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.block {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  position: relative;
  display: block;
  width: 100%;
  // max-height: 40vh;
  // @include tablet {
  //   aspect-ratio: 1200/630;
  // }
  aspect-ratio: 1200/630;
  margin-bottom: 16px;

  img {
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 0 3px rgb(0 0 0 / 15%);
  }
}

.publisher {
  display: flex;
  align-items: center;
  line-height: 1.5;
  color: $gray3;
  font-size: 14px;
  margin-bottom: 4px;

  &.dark {
    color: white;
  }

  svg {
    margin-right: 8px;
    display: block;
    width: 16px;
    height: 16px;
  }
}

.favicon {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: $gray5;

  &.dark {
    color: white;
  }

  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 27px;
}

.body {
  line-height: 1.5;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 16px;
  color: $gray4;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 84px;

  &.dark {
    color: white;
  }
}

.like_comment_count_wrapper {
  display: flex;
  gap: 8px;
  @include tablet {
    height: 26px;
  }
}
// 12*1.5+8(height: font-size*line-height+padding-bottom)
.likescount {
  font-size: 12px;
  font-weight: 600;
  color: $gray4;
  line-height: 1.5;
  height: 26px;
  display: flex;
  align-items: top;

  &.dark {
    color: white;
  }
}

.commentscount {
  font-size: 12px;
  font-weight: 600;
  color: $gray4;
  line-height: 1.5;
  height: 26px;
  display: flex;
  align-items: top;

  &.dark {
    color: white;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user_info {
  color: $gray2;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;

  &.dark {
    color: white;
  }
}

.icon_buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}
