@import "_var", "_module";

.title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: $gray5;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 116px;

  .item {
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    color: $gray4;
    transition: all 0.2s ease;
    border: 1px solid $primary;
    border-radius: 14px;
    font-weight: 700;
    border-radius: 15px;
    // margin-right: 8px;
    // margin-bottom: 8px;

    &:hover {
      background: #017a5978;
      color: white;
    }

    &.selected {
      background: $primary;
      color: white;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}
