@import 'var', 'module';

.block {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .header {
    display: flex;
    gap: 12px;
    align-items: flex-end;
    padding-top: 13px;
    padding-bottom: 31px;
    border-bottom: 1px solid #e0e0e0;
    .title {
      margin: 0;
    }

    .count {
      margin: 0;
      color: $gray3;

      strong {
        color: $primary;
      }
    }
  }

  @include desktop {
    width: 768px;
    margin: 0 auto;
  }
}
