@import 'var', 'module';

.container_wrapper {
  position: relative;
  z-index: 2;
  padding: 32px 0 60px;

  @media (width <= 728px) {
    padding: 24px 8px;
  }

  .container {
    margin: 0 26px;

    @media (width <= 728px) {
      padding: 0 16px;
    }

    @include widescreen {
      max-width: 1150px;
      margin: 0 auto;
    }

    .recent_keyword_part {
      .title {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: normal;
        color: #212121;

        .sub_action {
          &.active {
            display: block;
          }

          display: none;
          border: none;
          outline: none;
          background-color: transparent;
          font-size: 13px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.54;
          letter-spacing: normal;
          color: #9e9e9e;
          margin-left: auto;
          cursor: pointer;
        }
      }

      .recent_keyword_part_wrapper.empty {
        margin-top: 28px;

        .empty_recent_keyword {
          &.active {
            display: block;
          }

          display: none;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.71;
          letter-spacing: normal;
          text-align: center;
          color: #9e9e9e;
        }

        .recent_keyword_list {
          .recent_keyword {
            display: flex;
            align-items: center;
            padding: 7px 0;
            cursor: pointer;

            .keyword_title {
              border: none;
              outline: none;
              background-color: transparent;
              color: #616161;
              font-size: 14px;
              line-height: 1.71;
            }

            .icon_delete_wrapper {
              border: none;
              outline: none;
              background-color: transparent;
              cursor: pointer;
              display: flex;
              margin-left: auto;
              margin-right: 3px;

              .icon_delete {
                width: 19px;
                height: 19px;
                color: #9e9e9e;
              }
            }

            &:hover {
              background: #f7f7f7;
              border-radius: 4px;
            }

            &.dark {
              .keyword_title {
                color: white;
              }

              .icon_delete_wrapper {
                .icon_delete {
                  color: white;
                }
              }

              &:hover {
                background: rgb(36 37 39);
              }
            }
          }
        }
      }
    }
  }

  &.dark {
    background: rgb(40 41 43);

    .container {
      .recent_keyword_part {
        .title {
          color: white;

          .sub_action {
            color: white;
          }
        }

        .recent_keyword_part_wrapper {
          .empty_recent_keyword {
            color: white;
          }
        }
      }
    }
  }
}
