@import "_var";

.block {
  flex: 1;
  width: 100%;
  height: 36px;
  background: $gray0;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 4px;

  svg {
    width: 20px !important;
    height: 20px !important;
  }

  &.dark svg {
    color: $gray4;
  }

  input {
    flex: 1;
    margin-left: 8px;
    background: none;
    border: none;
    outline: none;
    padding: 0;
  }
}
