@import 'module';

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  gap: 16px;

  @include mobile {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
