@import 'var', 'module';

.block {
  background: $gray0;
  flex: 1;

  &.dark {
    background: $gray5;
  }
}

.list_wrapper {
  * + div {
    border-top: 1px solid $gray0;
  }
}

.list_item {
  @include list-item-style;
}

.list_item_link {
  cursor: pointer;
  display: block;
  text-decoration: none;
  @include list-item-style;

  &.dark {
    background: $gray4;
    color: white;
  }
}
