@import 'var';

.block {
  display: flex;
  position: relative;
  gap: 16px;
}

.mode {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 1.5;
  color: $gray2;
  font-weight: 600;
  text-decoration: none;

  &.dark {
    color: white;
  }

  &.active {
    color: $primary;
    font-weight: 700;
  }

  svg {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

.indicator {
  height: 2px;
  border-radius: 1px;
  background: $primary;
  position: absolute;
  bottom: -5px;
  transition: left 0.2s ease-in-out;
}
