@import 'module';

.content {
  @include widescreen {
    width: 1150px;
    margin: 0 auto;
  }
}

.loadMore {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}
