@import 'var';

.block {
  display: flex;
  flex-direction: column;

  .top_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bottom_wrapper {
    .tag_wrappper {
      .item {
        background: $primary;
        display: inline-block;
        padding: 5px 10px;
        color: white;
        border: 1px solid $primary;
        font-weight: 700;
        border-radius: 15px;
        margin-right: 8px;
        margin-bottom: 8px;
      }
    }

    .placeholder {
      font-size: 16px;
      color: $gray2;
      line-height: 1.5;
    }
  }
}

.label {
  font-size: 16px;
  color: $gray4;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 12px;
  transition: all 0.25s ease-in-out;

  &.dark {
    color: white;
  }

  &.focused {
    color: $primary;
  }
}
