@import 'var';

.block {
  display: flex;
  flex-direction: column;

  .top_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bottom_wrapper {
    .tag_wrappper {
      .item {
        font-size: 14px;
        background: $primary;
        display: inline-block;
        padding: 5px 10px;
        color: white;
        border: 1px solid $primary;
        font-weight: 700;
        border-radius: 15px;
        margin-right: 8px;
        margin-bottom: 8px;
      }
    }
  }
}
