@import 'var', 'module';

.block {
  background: white;
  position: absolute;
  top: 48px;
  left: 0;
  max-width: 491px;
  min-height: 200px;
  border-radius: 8px;
  padding: 24px;

  // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 0 4px rgb(0 0 0 / 15%);
  z-index: 5;

  .tag_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include mobile {
      grid-template-columns: repeat(4, 1fr);
    }

    gap: 3px;
    row-gap: 3px;

    .tag {
      padding: 5px 10px;
      width: 80px;
      height: 30px;
      background: #fff;
      transition: all 0.2s ease;
      border-radius: 8px;

      button {
        width: 100%;
        font-weight: 700;
        color: $gray4;
        cursor: pointer;
      }

      &:hover {
        background: $gray0;
      }

      &.selected {
        background: #017a5ae4;

        button {
          color: white;
        }
      }
    }
  }
}
