@import "_var";

.container {
  margin-bottom: 24px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;

  .inner_container {
    width: 140px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $gray0;
    padding-left: 18px;
    padding-right: 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;

    span {
      color: $gray4;
      font-weight: 600;
      font-size: 16px;
    }
    svg {
      color: $gray1;
      width: 20px;
      height: 20px;
    }
  }
  .current_tag {
    display: flex;
    align-items: center;
    background: white;
    padding: 5px 10px;
    transition: all 0.2s ease;
    border: 1.5px solid $primary;
    border-radius: 15px;
    gap: 4px;

    .tag_text {
      color: $gray4;
      font-weight: 700;
    }

    .close_btn {
      display: flex;
      align-items: center;
      cursor: pointer;
      svg {
        color: $gray2;
        width: 12px;
        height: 12px;
      }
    }
  }

  &.dark {
    .inner_container {
      span {
        color: white;
      }
    }
  }
}
