@import "_var";

.block {
  background: white;
  position: absolute;
  top: 48px;
  right: 0;
  width: 200px;
  border-radius: 4px;
  // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  z-index: 5;
}

.menu_item {
  color: $gray5;
  padding: 16px;
  cursor: pointer;

  &:hover {
    transition: all 0.125s ease-in;
    background: $gray0;
  }

  &.isDeskTopHidden {
    display: block;
    @media (min-width: 700px) {
      display: none;
    }
  }
}

.triangle {
  position: absolute;
  top: -8px;
  right: 16px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  z-index: 2;
}

.triangle_border {
  position: absolute;
  top: -10px;
  right: 14px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e0e0e0;
  z-index: 1;
}
