@import "_var", "_module";

.group {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding-bottom: 16px;
}

.thumbnail {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 1200/630;
  transition: all 0.5s ease;
  cursor: pointer;

  img {
    border-radius: 0px;
    object-fit: contain;
  }

  &.active {
    box-shadow: 0 0 23px rgba(1, 122, 89, 0.5);
  }
}

.notification {
  font-size: 15px;
  text-align: center;
  @include mobile {
    text-align: start;
  }
  color: $gray2;
}

.message {
  color: red;
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
}
