@import "_var", "_module";

.block {
  display: flex;
  flex-direction: column;
  padding: 16px;
  flex: 1;
  justify-content: space-between;

  @include mobile {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    // flex: initial;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 800;
  color: $gray5;
  font-size: 36px;
  line-height: 1.5;

  &.dark {
    color: white;
  }
}

.section {
  h4 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 16px;
    color: $gray3;
  }

  &.dark h4 {
    color: white;
  }

  & + & {
    margin-top: 32px;
  }
}

.username {
  font-size: 16px;
  color: $gray5;

  &.dark {
    color: white;
  }
}

.input_group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.unregister_button {
  font-size: 16px;
  background: $destructive;
}
