@import "_var";

.dummy_input {
  width: 100%;
  height: 48px;
  border: 1px solid $gray2;
  border-radius: 4px;
  padding: 12px 16px 12px 16px;
  display: flex;
  align-items: center;
  color: $gray1;
  font-size: 16px;
}
