@import "_var";

.styled_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-right: -8px;
  color: $gray5;

  svg {
    display: block;
    width: 24px;
    height: 24px;
  }
}
